.card{
    width: 100%;
    height: 100%;
    padding: 20px;
    /*border-radius: 25px;*/
    display: flex;
    justify-content: center;
    /*box-shadow: 15px 10px 25px 0px  rgba(164,139,244,0.54);*/
    /*background: #fff;*/
    background-repeat: no-repeat, no-repeat;
    background-position: 120% -5%, 200% -40%;
    /*background-size: 40%, 80%;*/
    animation: open .5s;
}
@keyframes open {
    0%  {background-position: 166% -25%, 220% -69%;}
    100%{background-position: 120% -5%, 200% -40%;}
}
.custom-file-upload {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    padding: 6px;
    cursor: pointer;
    background: linear-gradient(270deg, #3fa1a9, #79f1a4);
    text-align: center;
    margin:0px;
}
.upload-img{
    text-align: center;
    vertical-align:center;
}
.img-wrap{
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    /*margin-left:50px;*/
}

label{
    /*text-transform: uppercase;*/
    font-weight: 700;
    color: #676767;
}
img {
    width: auto;
    height: 100%;
}
.img-fluid{
    width: auto;
    height: 100%;
}
.img-upload:before{
    content: "\f093";
    font-size: 90px;
    position: absolute;
    padding-top: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #63d3a6;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
}
.img-upload:hover:before{
    opacity: 1;
}
#photo-upload{
    display: none;
}
button[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: #8F46CE;
    color: white;
    cursor: pointer;
    font-size: 16px;
}


button[type="submit"]:hover {
    font-family: 'Montserrat', sans-serif;
    border: none;
    background-color: #975EDE;
    color: white;
    cursor: pointer;
    font-size: 16px;
}